.shadow {
	width: 100%;
	height: 168px;
	position: relative;
	margin-top: -110px;
	background: transparent url(../images/shadow.png) no-repeat bottom center;
	background-size: 60% 60%; /* stretches it */
	z-index: -1;
	display: none;
}
.header{

	/*background:linear-gradient(to right, #232526, #414345);*/
	height:100px;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

h3 a {
	color: #4a3c27;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.nav-arrows {
	display: none;
}

.nav-arrows a {
	width: 42px;
	height: 42px;
	background: #cbbfae url(../images/nav.png) no-repeat top left;
	position: absolute;
	top: 50%;
	left: 2px;
	text-indent: -9000px;
	cursor: pointer;
	margin-top: -21px;
	opacity: 0.9;
	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.nav-arrows a:first-child{
	left: auto;
	right: 2px;
	background-position: top right;
}


.logInButton{
	text-align: center;
}



/*=======================================================*/

.inputMovie{

	border: none;
	border-radius: 10px;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
.inputMovie[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.inputMovie[type=text]:focus {
    width: 100%;
}
#videoModal{
    display: none; /* Hidden by default */
    /*position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%; /* Full width */
    /*height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
		padding: 0;
}

.videoContent1 {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.movieContent{
	margin: auto;
    display: block;
	text-align: center;
    color: white;
	/*float: right;*/
	font-size: 20px;
	margin-right: 2%;
	margin-left: 1%;
	width: 200px;
}


.videoContent{
	width:80%;

}

.tZ{
	color: #cb356b;
	font-weight: bold;
	font-size: 22px;
}


/*/ Footer *======================*/
	footer {
		height: 350px;
		color: white;
		  background: linear-gradient(to right, #000000, #434343);
	}
footer a {
	color: white;
}
/*Top bar =============================*/
.about{
	float: right;
}
.signup{
	float: right;
}
.top-bar{
   
   background: linear-gradient(to right, #36d1dc, #5b86e5);
	font-size: 18px;
	
	

}
.top-bar a{
	color: black;
}
.moviedblogo{
	float: left;
}

.applogo{
	float: left;
	margin-left: 40px;
}
/*==================map============*/
